.Event-Course-Menu {
    font-family: 'Open Sans';
    font-weight: 300;
  }
  
  .Row {
    display: grid;
    grid-template-columns: auto 1fr; 
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Row h3 {
    margin-right: 10px;
  }
  
  .form-select {
    width: 180px; 
  }

  .form-select {
    text-align-last: center;
  }